@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: calc(16px + 0.25vw);
}
@media (min-width: 1400px) {
    body{
        font-size: calc(16px + 0.65vw);
    }
}

.hero-transform{
    -webkit-transform: perspective(150px) rotateX(15deg)
                        skewX(-20deg);
    transform: perspective(150px) rotateX(15deg)
                skewX(-20deg);
}
@media (max-width: 1023.99px) {
    .hero-transform{
        -webkit-transform: perspective(150px) rotateX(15deg)
                            skewX(-20deg)
                            scale(1.3)
                            translateY(-50px);
        transform: perspective(150px) rotateX(15deg)
                    skewX(-20deg)
                    scale(1.3)
                    translateY(-50px);

    }
}
.hero-mask{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.8155637254901961) 0%, rgba(255,255,255,0.4430147058823529) 22%, rgba(255,255,255,0) 100%);
}